# npm registry mirror
registry=https://mirrors.cloud.tencent.com/npm/
# pnpm env use node mirror
node-mirror:release=https://mirrors.cloud.tencent.com/nodejs-release/

# npm config
auto-install-peers=true
strict-peer-dependencies=false
# proxy=http://127.0.0.1:10809/
# https-proxy=http://127.0.0.1:10809/
# npm config end
