# npm registry mirror
registry=https://registry.npmmirror.com
# registry=http://mirrors.tencent.com/npm/
# pnpm env use node mirror
node-mirror:release=https://npmmirror.com/mirrors/node/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas/
# node-mirror:release=http://mirrors.cloud.tencent.com/nodejs-release/
# sass_binary_site=http://mirrors.cloud.tencent.com/node-sass/
# canvas_binary_host_mirror=http://mirrors.cloud.tencent.com/canvas/
# npm config
auto-install-peers=true
strict-peer-dependencies=false
puppeteer_skip_download=true
puppeteer_skip_chromium_download=true
